<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a routerLink="/app" class="brand-link">
    <img
      src="assets/img/cash-icon.png"
      alt="Logo"
      class="brand-image img-circle elevation-3"
    />
    <span class="brand-text font-weight-light">{{ appBrand }}</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/img/user-icon.png"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a routerLink="/app/profile" routerLinkActve="active" class="d-block">{{
          user?.name
        }}</a>
      </div>
    </div>

    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column nav-child-indent"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a
            routerLink="/app"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link"
          >
            <i class="nav-icon fas fa-home"></i>
            <p>Inicio</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/app/profile"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fas fa-user"></i>
            <p>Perfil</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/app/configuration/catalogs"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fas fa-cogs"></i>
            <p>Catalogs</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/app/clients"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fas fa-users"></i>
            <p>Clientes</p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Clientes
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/app/clients/create"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Registrar cliente</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/app/clients"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Clientes</p>
              </a>
            </li>
          </ul>
        </li> -->
      </ul>
    </nav>
  </div>
</aside>
