<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0">Inicio</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-primary">
            <div class="card-body box-profile">
              <div class="text-center">
                <img
                  class="profile-user-img img-fluid img-circle"
                  src="assets/img/user-icon.png"
                  alt="User profile picture"
                />
              </div>
              <h3 class="profile-username text-center">{{ user?.name }}</h3>
              <p class="text-muted text-center">{{ user?.email }}</p>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/app/profile"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Datos generales</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/app/profile/password"
                    routerLinkActive="active"
                    >Contraseña</a
                  >
                </li>
              </ul>
            </div>
            <div class="card-body">
                <strong><i class="fas fa-check mr-1"></i> Nombre</strong>
                <p class="text-muted">{{user?.name}}</p>
                <strong><i class="fas fa-check mr-1"></i> Correo</strong>
                <p class="text-muted">{{user?.email}}</p>
                <strong><i class="fas fa-check mr-1"></i> No. DPI(cui)</strong>
                <p class="text-muted">{{user?.cui}}</p>
                <strong><i class="fas fa-check mr-1"></i> No. Celular</strong>
                <p class="text-muted">{{user?.celular}}</p>
                <strong><i class="fas fa-check mr-1"></i>Dirección de Domicilio</strong>
                <p class="text-muted">{{user?.direccion}}</p>
                <strong><i class="fas fa-check mr-1"></i>Fecha Nacimiento</strong>
                <p class="text-muted">{{user?.fecha_nacimiento}}</p>
                <strong><i class="fas fa-check mr-1"></i>Sucursal</strong>
                <p class="text-muted">{{user?.sucursal_id}}</p>
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
