<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0">Perfil de usuario</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-widget widget-user">
            <div class="widget-user-header bg-info">
              <h3 class="widget-user-username">{{ user?.name }}</h3>
              <h5 class="widget-user-desc">{{ user?.email }}</h5>
            </div>
            <div class="widget-user-image">
              <img
                class="img-circle elevation-2"
                src="assets/img/user-icon.png"
                alt="Avatar User"
              />
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-3 border-right">
                  <div class="description-block">
                    <h5 class="description-header">NÚMERO DPI</h5>
                    <span class="description-text">{{ user?.cui }}</span>
                  </div>
                </div>
                <div class="col-sm-3 border-right">
                  <div class="description-block">
                    <h5 class="description-header">CELULAR</h5>
                    <span class="description-text">{{ user?.celular }}</span>
                  </div>
                </div>
                <div class="col-sm-3 border-right">
                  <div class="description-block">
                    <h5 class="description-header">DIRECCIÓN</h5>
                    <span class="description-text">{{ user?.direccion }}</span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="description-block">
                    <h5 class="description-header">FECHA NACIMIENTO</h5>
                    <span class="description-text">{{
                      user?.fecha_nacimiento
                    }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/app/profile/password"
                    routerLinkActive="active"
                    >Cambiar contraseña</a
                  >
                </li>
              </ul>
            </div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
