<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0">Catálogos del sistema</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 mb-2">
          <form [formGroup]="form" novalidate>
            <label for="catalogTables">Catalogo</label>
            <select
              name="catalogTables"
              id="catalogTables"
              class="custom-select"
              formControlName="table"
              (change)="index()"
            >
              <option [value]="ct.table" *ngFor="let ct of catalogSelect">
                {{ ct.name }}
              </option>
            </select>
          </form>
        </div>
        <div class="col-12">
          <button
            type="button"
            class="btn btn-primary mb-4"
            data-toggle="modal"
            data-target="#modalCatalog"
            (click)="create()"
            *ngIf="table?.value != ''"
          >
            Nuevo catalogo
          </button>
        </div>
      </div>
      <div class="row">
        <div
          class="col-12 col-sm-4 col-md-3 d-flex align-items-stretch flex-column"
          *ngFor="let catalog of catalogs?.data; index as i"
        >
          <div class="card bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
              {{ catalog.table }}
            </div>
            <div class="card-body pt-0">
              <b class="lead">{{ catalog.nombre }}</b>
            </div>
            <div class="card-footer text-center">
              <button
                class="btn btn-outline-primary"
                title="Modificar"
                (click)="edit(i, catalog)"
              >
                <i class="fas fa-edit"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 alert alert-light" role="alert" *ngIf="catalogs?.data?.length === 0">
          Catalogo sin registros.
        </div>
      </div>
    </div>
  </section>
  <div
    class="modal fade"
    id="modalCatalog"
    tabindex="-1"
    aria-labelledby="modalCatalogLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCatalogLabel">{{ titleModal }}</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="modal-body">
            <div class="form-group">
              <label for="table">Nombre</label>
              <input
                id="name"
                type="text"
                class="form-control form-control-lg"
                formControlName="nombre"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">
              Guardar cambios
            </button>
            <span
              class="text-danger"
              role="button"
              *ngIf="action == 'update'"
              [title]="'Eliminar ' + catalog.nombre"
              (click)="destroy(catalog.id)"
              >Eliminar</span
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
