<div class="content-wrapper">
  <!-- <app-content-header title="Catálogos"></app-content-header> -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0">Catálogos</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <p>catalogs works!</p>
        </div>
      </div>
    </div>
  </section>
</div>
