<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0">Nuevo cliente</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">DATOS PRINCIPALES</h3>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="row">
                  <!--fila uno-->
                  <div class="col-6">
                    <div class="form-group">
                      <label for="nombre_cliente">Nombres:</label>
                      <input
                        type="text"
                        class="form-control"
                        id="nombre_cliente"
                        name="nombre_cliente"
                        placeholder="Nombre del cliente"
                        formGroupName="nombres"
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="nombre_cliente">Apellidos:</label>
                      <input
                        type="text"
                        class="form-control"
                        id="nombre_cliente"
                        name="nombre_cliente"
                        placeholder="Nombre del cliente"
                        formGroupName="apellidos"
                      />
                    </div>
                  </div>
                </div>
                <!--fila dos-->
                <div class="row">
                  <div class="col-3">
                    <div class="form-group">
                      <label for="identificacion">Identificación (cui):</label>
                      <input
                        type="text"
                        class="form-control"
                        id="identificacion"
                        name="identificacion"
                        placeholder="Número de DPI"
                        formControlName="cui"
                      />
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="profesion_id">Profesión:</label>
                      <select
                        name="profesion_id"
                        id="profesion_id"
                        class="custom-select"
                        formControlName="profesion_id"
                      >
                        <option value=""></option>
                        <option
                          [value]="profession.id"
                          *ngFor="let profession of professions"
                        >
                          {{ profession.nombre }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="nacionalidad_id">Nacionalidades:</label>
                      <select
                        name="nacionalidad_id"
                        id="nacionalidad_id"
                        class="custom-select"
                        formControlName="nacionalidad_id"
                      >
                        <option value=""></option>
                        <option
                          [value]="nattionality.id"
                          *ngFor="let nattionality of nationallities"
                        >
                          {{ nattionality.nombre }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="nit">Número de nit:</label>
                      <input
                        type="text"
                        class="form-control"
                        id="nit"
                        name="nit"
                        placeholder="Número de nit"
                        formControlName="nit"
                      />
                    </div>
                  </div>
                </div>
                <!--fila tres-->
                <div class="row">
                  <div class="col-3">
                    <div class="form-group">
                      <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                      <input
                        type="date"
                        class="form-control"
                        id="fecha_nacimiento"
                        name="fecha_nacimiento"
                        formControlName="fecha_nacimiento"
                      />
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="municipio_id">Municipio:</label>
                      <select
                        name="municipio_id"
                        id="municipio_id"
                        class="custom-select"
                        formControlName="municipio_id"
                      >
                        <option value=""></option>
                        <option
                          [value]="municipality.id"
                          *ngFor="let municipality of municipalities"
                        >
                          {{ municipality.nombre }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="departamento_id">Departamento:</label>
                      <select
                        name="departamento_id"
                        id="departamento_id"
                        class="custom-select"
                        formControlName="departamento_id"
                      >
                        <option value=""></option>
                        <option
                          [value]="department.id"
                          *ngFor="let department of departments"
                        >
                          {{ department.nombre }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <!--fila cuatro-->
                <div class="row">
                  <div class="col-3">
                    <div class="form-group">
                      <label for="estado_civil">Estado civil:</label>
                      <select
                        class="custom-select"
                        name="estado_civil"
                        id="estado_civil"
                        formControlName="estado_civil"
                      >
                        <option value=""></option>
                        <option value="S">Soltero/a</option>
                        <option value="C">Casado/a</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <label for="genero">Genero:</label>
                      <select
                        class="custom-select"
                        name="genero"
                        id="genero"
                        formControlName="genero"
                      >
                        <option value=""></option>
                        <option value="F">Femenino</option>
                        <option value="M">Masculino</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!--fila cinco-->
                <div class="row">
                  <div class="col-4">
                    <div class="form-group">
                      <label for="telefono_casa">Teléfono de casa:</label>
                      <input
                        type="text"
                        class="form-control"
                        id="telefono_casa"
                        name="telefono_casa"
                        placeholder="Teléfono de casa"
                        formControlName="telefono"
                      />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label for="telefono_celular">Teléfono Celular:</label>
                      <input
                        type="text"
                        class="form-control"
                        id="telefono_celular"
                        name="telefono_celular"
                        placeholder="Teléfono Celular"
                        formControlName="celular"
                      />
                    </div>
                  </div>
                </div>
                <!--fila seis-->
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="condicion_vivienda_id"
                        >Condición de vivienda:</label
                      >
                      <select
                        name="condicion_vivienda_id"
                        id="condicion_vivienda_id"
                        class="custom-select"
                        formControlName="condicion_vivienda_id"
                      >
                        <option value=""></option>
                        <option
                          [value]="housingCondition.id"
                          *ngFor="let housingCondition of housingConditions"
                        >
                          {{ housingCondition.nombre }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="tipo_construccion_id"
                        >Tipo de construcción:</label
                      >
                      <select
                        name="tipo_construccion_id"
                        id="tipo_construccion_id"
                        class="custom-select"
                        formControlName="tipo_construccion_id"
                      >
                        <option value=""></option>
                        <option
                          [value]="typeConstruction.id"
                          *ngFor="let typeConstruction of typeConstructions"
                        >
                          {{ typeConstruction.nombre }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="direccion">Dirección:</label>
                      <input
                        type="text"
                        name="direccion"
                        id="direccion"
                        class="custom-select"
                        formControlName="direccion"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-success" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
