<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0">{{ title }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 offset-md-2 shadow-lg p-5 bg-white rounded">
          <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            class="form-horizontal"
          >
            <h4 class="text-primary">Datos Generales</h4>
            <!--Nombres -->
            <div class="form-group row">
              <label for="nombres" class="col-sm-3 col-form-label"
                >Nombres</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="nombres"
                  name="nombres"
                  placeholder="Nombres"
                  formControlName="nombres"
                />
              </div>
            </div>
            <!-- Apellidos -->
            <div class="form-group row">
              <label for="apellidos" class="col-sm-3 col-form-label"
                >Apellidos</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="apellidos"
                  name="apellidos"
                  placeholder="Apellidos"
                  formControlName="apellidos"
                />
              </div>
            </div>
            <!-- Fecha de nacimiento -->
            <div class="form-group row">
              <label for="fecha_nacimiento" class="col-sm-3 col-form-label"
                >Fecha nacimiento</label
              >
              <div class="col-sm-9">
                <input
                  type="date"
                  class="form-control"
                  id="fecha_nacimiento"
                  name="fecha_nacimiento"
                  formControlName="fecha_nacimiento"
                />
              </div>
            </div>
            <!-- Genero -->
            <div class="form-group row">
              <label for="genero" class="col-sm-3 col-form-label">Genero</label>
              <div class="col-sm-9">
                <select
                  name="genero"
                  id="genero"
                  class="custom-select"
                  formControlName="genero"
                >
                  <option value="">Seleccione</option>
                  <option value="F">Femenino</option>
                  <option value="M">Masculino</option>
                </select>
              </div>
            </div>
            <!-- Estado civil-->
            <div class="form-group row">
              <label for="estado_civil" class="col-sm-3 col-form-label"
                >Estado civil</label
              >
              <div class="col-sm-9">
                <select
                  name="estado_civil"
                  id="estado_civil"
                  class="custom-select"
                  formControlName="estado_civil"
                >
                  <option value="">Seleccione</option>
                  <option value="S">Soltero/a</option>
                  <option value="C">Casado/a</option>
                </select>
              </div>
            </div>
            <!-- Profesión -->
            <div class="form-group row">
              <label for="profesion_id" class="col-sm-3 col-form-label"
                >Profesión</label
              >
              <div class="col-sm-9">
                <select
                  class="custom-select"
                  id="profesion_id"
                  name="profesion_id"
                  formControlName="profesion_id"
                >
                  <option value="">Seleccione</option>
                  <option
                    [value]="profession.id"
                    *ngFor="let profession of professions"
                  >
                    {{ profession.nombre }}
                  </option>
                </select>
              </div>
            </div>
            <!--Nacionalidad -->
            <div class="form-group row">
              <label for="nacionalidad_id" class="col-sm-3 col-form-label"
                >Nacionalidad</label
              >
              <div class="col-sm-9">
                <select
                  name="nacionalidad_id"
                  id="nacionalidad_id"
                  class="custom-select"
                  formControlName="nacionalidad_id"
                >
                  <option value="">Seleccione</option>
                  <option
                    [value]="nattionality.id"
                    *ngFor="let nattionality of nationallities"
                  >
                    {{ nattionality.nombre }}
                  </option>
                </select>
              </div>
            </div>
            <hr />
            <h4 class="text-primary mt-4">Identificación</h4>
            <!-- CUI -->
            <div class="form-group row">
              <label for="identificacion" class="col-sm-3 col-form-label"
                >CUI</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="identificacion"
                  name="identificacion"
                  placeholder="Código Único de Identificación -CUI-"
                  formControlName="cui"
                />
                <small id="identificacionHelpBlock" class="form-text text-muted"
                  >Número de DPI</small
                >
              </div>
            </div>
            <!--Nit-->
            <div class="form-group row">
              <label for="nit" class="col-sm-3 col-form-label"
                >NIT <small class="text-muted">(opcional)</small></label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="nit"
                  name="nit"
                  placeholder="Número de Identificación Tributaria -NIT-"
                  formControlName="nit"
                />
              </div>
            </div>
            <hr />
            <h4 class="text-primary mt-4">Contacto</h4>
            <!-- Celular -->
            <div class="form-group row">
              <label for="telefono_celular" class="col-sm-3 col-form-label"
                >Celular</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="telefono_celular"
                  name="telefono_celular"
                  placeholder="Número de celular"
                  formControlName="celular"
                />
              </div>
            </div>
            <!-- Teléfono de casa -->
            <div class="form-group row">
              <label for="telefono_casa" class="col-sm-3 col-form-label"
                >Teléfono <small class="text-muted">(opcional)</small></label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="telefono_casa"
                  name="telefono_casa"
                  placeholder="Teléfono de casa"
                  formControlName="telefono"
                />
              </div>
            </div>
            <!-- Correo electrónico -->
            <div class="form-group row">
              <label for="correo" class="col-sm-3 col-form-label"
                >Correo <small class="text-muted">(opcional)</small></label
              >
              <div class="col-sm-9">
                <input
                  type="email"
                  class="form-control"
                  id="correo"
                  name="correo"
                  placeholder="Correo electrónico"
                  formControlName="correo"
                />
              </div>
            </div>
            <hr />
            <h4 class="text-primary mt-4">Domicilio</h4>
            <!--Dirección-->
            <div class="form-group row">
              <label for="direccion" class="col-sm-3 col-form-label"
                >Dirección</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="direccion"
                  name="direccion"
                  placeholder="Dirección de domicilio"
                  formControlName="direccion"
                />
              </div>
            </div>
            <!--Departamento -->
            <div class="form-group row">
              <label for="departamento_id" class="col-sm-3 col-form-label"
                >Departamento</label
              >
              <div class="col-sm-9">
                <select
                  name="departamento_id"
                  id="departamento_id"
                  class="custom-select"
                  formControlName="departamento_id"
                >
                  <option value="">Seleccione</option>
                  <option
                    [value]="department.id"
                    *ngFor="let department of departments"
                  >
                    {{ department.nombre }}
                  </option>
                </select>
              </div>
            </div>
            <!--Municipio -->
            <div class="form-group row">
              <label for="municipio_id" class="col-sm-3 col-form-label"
                >Municipio</label
              >
              <div class="col-sm-9">
                <select
                  name="municipio_id"
                  id="municipio_id"
                  class="custom-select"
                  formControlName="municipio_id"
                >
                  <option value="">Seleccione</option>
                  <option
                    [value]="municipality.id"
                    *ngFor="let municipality of municipalities"
                  >
                    {{ municipality.nombre }}
                  </option>
                </select>
              </div>
            </div>
            <!-- Condición de vivienda -->
            <div class="form-group row">
              <label for="condicion_vivienda_id" class="col-sm-3 col-form-label"
                >Condición vivienda</label
              >
              <div class="col-sm-9">
                <select
                  name="condicion_vivienda_id"
                  id="condicion_vivienda_id"
                  class="custom-select"
                  formControlName="condicion_vivienda_id"
                >
                  <option value="">Seleccione</option>
                  <option
                    [value]="housingCondition.id"
                    *ngFor="let housingCondition of housingConditions"
                  >
                    {{ housingCondition.nombre }}
                  </option>
                </select>
              </div>
            </div>
            <!--Tipo de construcción -->
            <div class="form-group row">
              <label for="tipo_construccion_id" class="col-sm-3 col-form-label"
                >Tipo construcción</label
              >
              <div class="col-sm-9">
                <select
                  name="tipo_construccion_id"
                  id="tipo_construccion_id"
                  class="custom-select form"
                  formControlName="tipo_construccion_id"
                >
                  <option value="">Seleccione</option>
                  <option
                    [value]="typeConstruction.id"
                    *ngFor="let typeConstruction of typeConstructions"
                  >
                    {{ typeConstruction.nombre }}
                  </option>
                </select>
              </div>
            </div>
            <hr />
            <h4 class="text-primary mt-4">Referencias</h4>
            <p class="text-muted">
              3 referencias personales y 2 referencias familiares que no vivan
              con el cliente
            </p>
            <div formArrayName="referencias">
              <div class="table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Relación</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Celular</th>
                      <th scope="col">Dirección</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let referencia of referencias.controls;
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <select
                          name="parentesco_id"
                          id="parentesco_id"
                          class="custom-select form"
                          formControlName="parentesco_id"
                        >
                          <option value="">Seleccione</option>
                          <option
                            [value]="parentesco.id"
                            *ngFor="let parentesco of parentescos"
                          >
                            {{ parentesco.nombre }}
                          </option>
                        </select>
                      </td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="nombre"
                          name="nombre"
                          formControlName="nombre"
                        />
                      </td>
                      <td>
                        <input
                          type="tel"
                          class="form-control"
                          id="telefono"
                          name="telefono"
                          formControlName="telefono"
                        />
                      </td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="direccion"
                          name="direccion"
                          formControlName="direccion"
                        />
                      </td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button
                  class="btn btn-success btn-lg btn-block"
                  type="submit"
                  [disabled]="form.invalid"
                >
                  {{ title }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
